@model BitPixel.Common.Payment.PaymentHistoryModel
@{
	ViewBag.Title = "Payment History";
}



<div class="d-flex justify-content-center pt-4">

	<div class="card" style="min-width:300px;max-width:1000px">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<h5 class="card-title text-primary">Payment History</h5>
					<h6 class="card-subtitle mb-2 text-muted">Transaction information for payments received by BitPixel</h6>
				</div>
				<div>
					<a href="/Points" class="btn btn-sm btn-outline-primary" style="min-width:150px">Back</a>
				</div>
			</div>
			<div>
				<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
					<thead>
						<tr>
							<th width="60">Id</th>
							<th width="100">Method</th>
							<th width="100">Status</th>
							<th width="130">Amount</th>
							<th width="90">Rate</th>
							<th width="60">Points</th>
							<th>Payment Infomation</th>
							<th width="140">Timestamp</th>
						</tr>
					</thead>
					<tbody>
						@if (!Model.Receipts.Any())
						{
							<tr>
								<td colspan="8">You have no payment information</td>
							</tr>
						}
						else
						{
							foreach (var history in Model.Receipts)
							{
								<tr>
									<td>@history.Id</td>
									<td>@history.Name</td>
									<td>@history.Status</td>
									<td class="text-right">@history.Amount</td>
									<td class="text-right">@history.Rate</td>
									<td class="text-right">@history.Points</td>
									<td class="cell-elipsis">@history.Data2</td>
									<td class="text-right">@history.Created.ToString("dd/MM/yyyy hh:mm tt")</td>
								</tr>
							}
						}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="8" class="text-center">
								If you have any questions or problems with your payment please conatct <span class="text-primary">payments@bitpixel.win</span>
							</td>
						</tr>
					</tfoot>
				</table>

			</div>




		</div>
	</div>
</div>
@section Scripts {
	<script>

	</script>
}
