@model DotMatrix.Common.Payment.PaymentHistoryModel
@{
	ViewBag.Title = "Payment History";
}

<div class="d-flex flex-column align-items-center">

	<div class="d-flex flex-column w-100 mt-3" style="max-width:1200px">
		<div class="d-flex align-items-center">
			<a href="/Payment">
				<i class="fa fa-2x fa-arrow-circle-left mr-2"></i>
			</a>
			<h3>Payment History</h3>
		</div>

		<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
			<thead>
				<tr>
					<th width="60">Id</th>
					<th width="100">Method</th>
					<th width="100">Status</th>
					<th width="130">Amount</th>
					<th width="90">Rate</th>
					<th width="60">Points</th>
					<th>Payment Infomation</th>
					<th width="140">Timestamp</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var history in Model.Receipts)
				{
					<tr>
						<td>@history.Id</td>
						<td>@history.Name</td>
						<td>@history.Status</td>
						<td class="text-right">@history.Amount</td>
						<td class="text-right">@history.Rate</td>
						<td class="text-right">@history.Points</td>
						<td class="cell-elipsis">@history.Data2</td>
						<td class="text-right">@history.Created.ToString("dd/MM/yyyy hh:mm tt")</td>
					</tr>
				}
			</tbody>
		</table>

	</div>




</div>

@section Scripts {
	<script>

	</script>
}