@model DotMatrix.Common.Points.PointsModel
@{
	ViewBag.Title = "Points";
}

<div class="d-flex flex-column justify-content-center">

	<div class="d-flex justify-content-center flex-wrap">
		<div class="d-flex w-50" style="min-height: 150px;min-width: 300px;">

			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title">My Points</h5>
					<h6 class="card-subtitle mb-2 text-muted">Points allow you to draw and create pixels</h6>


					<div>
						<div class="d-flex w-100">
							<div class="w-75">
								<span>Points: <b class="text-primary" style="font-size:larger">@Model.Points</b></span>
							</div>
							<div class="w-25">
								<a href="/Pixel" class="btn btn-sm btn-success w-100">Play Now!</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="d-flex w-50" style="min-height:150px; min-width:300px;">


			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title">Payments</h5>
					<h6 class="card-subtitle mb-2 text-muted">Buy more points</h6>
					<div>
						<div class="d-flex w-50">
							<div class="w-100 mr-1">
								<a href="/Payment" class="btn btn-block btn-sm btn-outline-primary">Buy More Points!</a>
							</div>
							<div class="w-100 ml-1">
								<a href="/Payment/History" class="btn btn-block btn-sm btn-outline-dark">Payment History</a>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>

	<div class="d-flex justify-content-center flex-wrap" style="min-height: 180px">
		<div class="d-flex w-50" style="max-height:500px; min-width:500px;">


			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title">Prizes</h5>
					<h6 class="card-subtitle mb-2 text-muted">Latest 10 Prizes you have won playing BitPixel</h6>
					<div class="d-flex flex-column">
						<div class="flex-grow-1">
							<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
								<thead>
									<tr>
										<th width="160">Name</th>
										<th>Description</th>
										<th width="100">Points</th>
										<th width="160">Timestamp</th>
									</tr>
								</thead>
								<tbody>
									@if (!Model.LatestPrizes.Any())
									{
										<tr>
											<td colspan="4">You have not won any prizes yet, to learn how please click here: <a href="/Points/Prizes" class=""><b>Get Prizes!</b></a></td>
										</tr>
									}
									else
									{
										foreach (var prize in Model.LatestPrizes)
										{
											<tr>
												<td>@prize.Name</td>
												<td>@prize.Description</td>
												<td class="text-right">@prize.Points</td>
												<td class="text-right">@prize.Timestamp.ToString("dd/MM/yyyy hh:mm tt")</td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>

						<div>
							<div class="d-flex justify-content-between">
								<div class="w-25">
									<a href="/Prizes" class="btn btn-block btn-sm btn-warning">Get Prizes!</a>
								</div>
								<div class="w-25">
									<a href="/Prizes/UserHistory" class="btn btn-block btn-sm btn-outline-dark">Full Prize History</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="d-flex w-50" style="max-height:500px; min-width:500px;">


			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title">Awards</h5>
					<h6 class="card-subtitle mb-2 text-muted">Latest 10 Awards you have won playing BitPixel</h6>

					<div class="d-flex flex-column">
						<div class="flex-grow-1">
							<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
								<thead>
									<tr>
										<th>Name</th>
										<th width="100">Points</th>
										<th width="160">Timestamp</th>
									</tr>
								</thead>
								<tbody>
									@if (!Model.LatestAwards.Any())
									{
										<tr>
											<td colspan="3">You have not won any awards yet, to learn how please click here: <a href="/Points/Awards" class=""><b>Get Awards!</b></a></td>
										</tr>
									}
									else
									{
										foreach (var award in Model.LatestAwards)
										{
											<tr>
												<td>@award.Name</td>
												<td class="text-right">@award.Points</td>
												<td class="text-right">@award.Timestamp.ToString("dd/MM/yyyy hh:mm tt")</td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>

						<div>
							<div class="d-flex justify-content-between">
								<div class="w-25">
									<a href="/Awards" class="btn btn-block btn-sm btn-warning">Get Awards!</a>
								</div>
								<div class="w-25">
									<a href="/Awards/UserHistory" class="btn btn-block btn-sm btn-outline-dark">Full Award History</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>
	</div>


</div>

@section Scripts {
	<script>

	</script>
}