@model BitPixel.Common.Prize.ViewPrizesModalModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
	var isMobile = Request.Browser.IsMobileDevice;
}
<div class="modal-dialog" role="document" style="min-width:300px;max-width:1000px">
	<div class="modal-content">
		<div class="modal-body">
			<div class="card">

				<div class="card-body">

					<h5 class="card-title text-primary">@Model.Game.Name Prizes</h5>
					<h6 class="card-subtitle mb-2 text-muted">Listed below are some of the prizes you can win playing @Model.Game.Name</h6>
					<div>


						@foreach (var prizeTypeGroup in Model.Prizes.GroupBy(x => x.Type).OrderByDescending(x => x.Key))
						{
							<div class="mb-2">
								<h6 class="text-primary">@prizeTypeGroup.Key Prizes</h6>
								<table class="table table-sm table-bordered" style="table-layout:fixed;width:100%;font-size:13px">
									<thead>
										<tr>
											<th>Name</th>
											@if (!isMobile)
											{
												<th width="60%" class="cell-elipsis">Description</th>
												<th class="text-right" width="60">Type</th>
											}
											<th class="text-right" width="@(isMobile ? 80 : 100)">Prizes Left</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var prizeGroup in prizeTypeGroup.GroupBy(x => x.Symbol).OrderBy(x => x.Key))
										{

											if (!string.IsNullOrEmpty(prizeGroup.Key))
											{
												<tr>
													<td colspan="@(isMobile ? 2 : 4)">
														<small><i class="text-primary">@prizeGroup.Key Prizes</i></small>
													</td>
												</tr>
											}
											foreach (var prize in prizeGroup.OrderBy(x => x.Count))
											{
												<tr>
													<td class="cell-elipsis" title="@prize.Name">@(isMobile ? prize.Description : prize.Name)</td>
													@if (!isMobile)
													{
														<td class="cell-elipsis" title="@prize.Description">@prize.Description</td>
														<td class="text-right">@prize.Type</td>
													}
													<td class="text-right"><span class="text-@(prize.Unclaimed == 0 ? "danger" : "primary")">@prize.Unclaimed</span>/@prize.Count</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
						}


					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer btn-group">
			<button type="button" class="simplemodal-close btn btn-success invisible"></button>
			<button type="button" class="simplemodal-close btn btn-success">Close</button>
		</div>
	</div>
</div>


