@model BitPixel.Common.Prize.ViewUserPrizeModalModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}
<div class="modal-dialog" role="document" style="min-width:300px;">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Prize Details</h5>
			<a class="simplemodal-close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
		</div>
		<div class="modal-body">

			<div class="d-flex flex-column justify-content-center">
				<div class="text-center text-primary">
					<h4><i class="fa fa-star"></i> Congratulations you won a prize!</h4>
				</div>
				<div class="text-center">
					<h5>@Model.Prize.Name</h5>
					<span>@Model.Prize.Description</span>
				</div>
				<div class="text-center">
					<br />
					<span>@Model.Game.Name - X: @Model.Prize.X - Y: @Model.Prize.Y</span>
					@if (Model.Prize.Points > 0)
					{
						<br />
						<span><span class="text-info">@Model.Prize.Points points</span> have been credited to your account</span>
					}
					@if (Model.Prize.Type == BitPixel.Enums.PrizeType.Crypto)
					{
						<div>
							<br />
							<small>
								@if (Model.Prize.Status == BitPixel.Enums.PrizeStatus.Claimed)
								{
									<i>This prize has been successfully claimed</i>
								}
								else
								{
									<a href="#" onclick="$.modal.close({ClaimPrize: true, PrizeId: @Model.Prize.Id})">
										<i>Please click here to claim your prize</i>
									</a>
								}
							</small>
						</div>
					}
				</div>
			</div>


		</div>
		<div class="modal-footer btn-group">
			<button type="button" class="simplemodal-close btn btn-success invisible"></button>
			<button type="button" class="simplemodal-close btn btn-success">Close</button>
		</div>
	</div>
</div>


