@model DotMatrix.Common.Prize.PrizesViewModel
@{
	ViewBag.Title = "Prizes";
	var isMobile = Request.Browser.IsMobileDevice;
}
@Html.AntiForgeryToken()
<div class="d-flex flex-column justify-content-center align-items-center pl-3 pr-3">

	<div class="d-flex justify-content-center w-100 flex-wrap mt-2 mb-3" style="min-width:340px;max-width:1000px">
		<div class="w-100">
			<h2 class="card-title text-primary mb-0">Prizes</h2>
			<span class="ml-1">Full list of instant prizes you can win playing BitPixel</span>
		</div>
	</div>

	@foreach (var prizeGameGroup in Model.Prizes.GroupBy(x => new { Id = x.GameId, Name = x.Game, Rank = x.GameRank }).OrderBy(x => x.Key.Rank))
	{
		<div class="card mb-3" style="min-width:350px;max-width:1000px">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<h4 class="card-title text-primary">@prizeGameGroup.Key.Name</h4>
					<div>
						<a href="/Game?gameId=@prizeGameGroup.Key.Id" class="btn btn-sm btn-warning" style="width:150px">Play Now!</a>
					</div>
				</div>
				<hr class="mt-0" />
				<div>
					@foreach (var prizeTypeGroup in prizeGameGroup.GroupBy(x => x.Type).OrderByDescending(x => x.Key))
					{
						<div class="mb-2">
							<h6 class="text-primary">@prizeTypeGroup.Key Prizes</h6>
							<table class="table table-sm table-bordered" style="table-layout:fixed;width:100%;font-size:13px">
								<thead>
									<tr>
										<th>Name</th>
										@if (!isMobile)
										{
											<th width="60%">Description</th>
											<th class="text-right" width="80">Type</th>
										}
										<th class="text-right" width="@(isMobile ? 80 : 100)">Prizes Left</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var prizeGroup in prizeTypeGroup.GroupBy(x => x.Symbol).OrderBy(x => x.Key))
									{

										if (!string.IsNullOrEmpty(prizeGroup.Key))
										{
											<tr>
												<td colspan="@(isMobile ? 2 : 4)">
													<small><i class="text-primary">@prizeGroup.Key Prizes</i></small>
												</td>
											</tr>
										}
										foreach (var prize in prizeGroup.OrderBy(x => x.Count))
										{
											<tr>
												<td class="cell-elipsis" title="@prize.Name">@(isMobile ? prize.Description : prize.Name)</td>
												@if (!isMobile)
												{
													<td class="cell-elipsis" title="@prize.Description">@prize.Description</td>
													<td class="text-right">@prize.Type</td>
												}
												<td class="text-right"><span class="text-@(prize.Unclaimed == 0 ? "danger" : "primary")">@prize.Unclaimed</span>/@prize.Count</td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
					}
				</div>
			</div>
		</div>
	}

</div>

@section Scripts {
	<script>
		(async ($) => {




		})(jQuery);

	</script>
}