@model DotMatrix.Common.Prize.PrizeViewModel
@{
	ViewBag.Title = "Prizes";
}

<div class="d-flex justify-content-center pt-4">

	<div class="card" style="min-width:300px;max-width:1000px">
		<div class="card-body">
			<h5 class="card-title">Prizes</h5>
			<h6 class="card-subtitle mb-2 text-muted">You can win prizes of points while playing BitPixel, listed below are some of the prizes you can win</h6>
			<div>

				<table class="table table-sm table-bordered" style="table-layout:fixed;width:100%;font-size:13px">
					<thead>
						<tr>
							<th width="40%">Name</th>
							<th width="60%">Description</th>
							<th class="text-right" width="100">Prize Type</th>
							<th class="text-right" width="150">Prizes Left</th>
						</tr>
					</thead>
					<tbody>
						@if (!Model.Prizes.Any())
						{
							<tr>
								<td colspan="4">There are no active prizes at this time.</td>
							</tr>
						}
						else
						{
							foreach (var prize in Model.Prizes)
							{
								<tr>
									<td class="cell-elipsis" title="@prize.Name">@prize.Name</td>
									<td class="cell-elipsis" title="@prize.Description">@prize.Description</td>
									<td class="text-right">@prize.Type</td>
									<td class="text-right"><span class="text-@(prize.Unclaimed == 0 ? "danger" : "primary")">@prize.Unclaimed</span>/@prize.Count</td>
								</tr>
							}
						}
					</tbody>
				</table>

				<div>
					<div class="d-flex justify-content-between">
						<div class="w-25">
							<a href="/Pixel" class="btn btn-block btn-sm btn-success">Play Now!</a>
						</div>
						<div class="w-25">
							<a href="/Awards" class="btn btn-block btn-sm btn-warning">Get Awards</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

@section Scripts {
	<script>

	</script>
}