@model DotMatrix.Common.Admin.AdminPaymentViewModel
@{
	ViewBag.Title = "Payment Admin";
}

<div class="d-flex flex-column align-items-center">

	<div class="d-flex">

		<div class="d-flex w-50" style="min-width:500px;">
			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title text-primary">Prize Payment Management</h5>
					<h6 class="card-subtitle mb-2 text-muted">Manage prize payment details</h6>
					<div>
						<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
							<thead>
								<tr>
									<th width="60">Id</th>
									<th width="120">Game</th>
									<th width="120">UserName</th>
									<th width="60">Symbol</th>
									<th width="100">Amount</th>
									<th>Transaction</th>
									<th width="80">Status</th>
									<th width="40"></th>
								</tr>

							</thead>
							<tbody>
								@foreach (var prize in Model.PrizePayments.OrderBy(x => x.Status).ThenByDescending(x => x.Timestamp))
								{
									<tr>
										<td>@prize.Id</td>
										<td class="cell-elipsis">@prize.Game</td>
										<td class="cell-elipsis">@prize.UserName</td>
										<td>@prize.Data</td>
										<td>@prize.Data2</td>
										<td class="cell-elipsis">@prize.Data4</td>
										<td>@prize.Status</td>
										<th class="text-center">
											<i class="fa fa-edit prize-payment-update" data-prizeId="@prize.Id"></i>
										</th>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>

		<div class="d-flex w-50" style="min-width:500px;">


			<div class="card w-100 m-3">
				<div class="card-body">
					<h5 class="card-title text-primary">Payment Management</h5>
					<h6 class="card-subtitle mb-2 text-muted">Manage payment information</h6>
					<div>
						<table class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
							<thead>
								<tr>
									<th width="60">Id</th>
									<th width="120">Name</th>
									<th width="100">Type</th>
									<th>Data</th>
									<th width="120">Amount</th>
									<th width="100">Rate</th>
									<th width="100">Points</th>
									<th width="100">Status</th>
									<th width="40"></th>
								</tr>

							</thead>
							<tbody>
								@foreach (var game in Model.Payments)
								{
									<tr>
										<td>@game.Id</td>
										<td class="cell-elipsis">@game.UserName</td>
										<td>@game.Name</td>
										<td class="cell-elipsis" title="@game.Data2">@game.Data2</td>
										<td>@game.Amount</td>
										<td>@game.Rate</td>
										<td>@game.Points</td>
										<td>@game.Status</td>
										<th class="text-center">
											<i class="fa fa-edit payment-update" data-paymentid="@game.Id"></i>
										</th>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>

	</div>

	</div>


@section Scripts {
	<script>
		(async ($) => {

			$(".payment-update").on("click", async function () {
				const paymentId = $(this).data("paymentid");
				const result = await openModalGet("/Admin/UpdatePaymentModal", { paymentId: paymentId });
				if (result.Cancel === true) {
					return;
				}
				location.reload();
			});

			$(".prize-payment-update").on("click", async function () {
				const prizeId = $(this).data("prizeid");
				const result = await openModalGet("/Admin/UpdatePrizePaymentModal", { prizeId: prizeId });
				if (result.Cancel === true) {
					return;
				}
				location.reload();
			});

		})(jQuery);
	</script>
}