@model DotMatrix.Common.Prize.UpdatePrizePoolModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}

@using (Ajax.BeginForm("UpdatePrizePoolModal", "Admin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.GameId)
	@Html.HiddenFor(m => m.Name)
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Prize Pool</h5>
				<a class="simplemodal-close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
			</div>
			<div class="modal-body">

				<div class="form-group">
					<small>Name</small>
					@Html.TextBoxFor(m => m.NewName, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.NewName, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>Description</small>
					@Html.TextBoxFor(m => m.Description, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
				</div>

			</div>
			<div class="modal-footer btn-group">
				<button type="submit" class="btn btn-outline-success">Submit</button>
				<button type="button" class="simplemodal-close btn btn-outline-secondary">Cancel</button>
			</div>
		</div>
	</div>
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
	(async ($) => {

		$('form').submit(function () {
			const form = $(this);
			if (form.valid()) {
				$("button").attr("disabled", "disabled").text("Updating...");
			}
		});

		$("#Name").on("change", function () {
			$("#NewName").val($(this).val());
		});

	})(jQuery);
</script>
