﻿@model DotMatrix.Common.Payment.UpdatePaymentModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}

@using (Ajax.BeginForm("UpdatePaymentModal", "Admin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update Payment</h5>
				<a class="simplemodal-close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<small>Status</small>
					@Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>Amount</small>
					@Html.TextBoxFor(m => m.Amount, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>Rate</small>
					@Html.TextBoxFor(m => m.Rate, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Rate, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>Points</small>
					@Html.TextBoxFor(m => m.Points, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Points, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>TransactionId</small>
					@Html.TextBoxFor(m => m.Data2, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Data2, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="modal-footer btn-group">
				<button type="submit" class="btn btn-outline-success">Update</button>
				<button type="button" class="simplemodal-close btn btn-outline-secondary">Cancel</button>
			</div>
		</div>
	</div>
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
	(async ($) => {

		$('form').submit(function () {
			const form = $(this);
			if (form.valid()) {
				$("button").attr("disabled", "disabled").text("Updating...");
			}
		});

	})(jQuery);
</script>