﻿@model DotMatrix.Common.Users.UpdateUserModal
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}

@using (Ajax.BeginForm("UpdateUserModal", "Admin", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update User</h5>
				<a class="simplemodal-close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<small>UserName</small>
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<small>Email</small>
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-sm" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>

				<div class="form-group">
					<div class="custom-control custom-switch">
						@Html.CheckBoxFor(m => m.IsEmailConfirmed, new { id = "IsEmailConfirmed", @class = "custom-control-input" })
						<label class="custom-control-label" for="IsEmailConfirmed">IsEmailConfirmed</label>
					</div>
				</div>

				<div class="form-group">
					<div class="custom-control custom-switch">
						@Html.CheckBoxFor(m => m.IsLocked, new { id = "IsLocked", @class = "custom-control-input" })
						<label class="custom-control-label" for="IsLocked">IsLocked</label>
					</div>
				</div>



			</div>
			<div class="modal-footer btn-group">
				<button type="submit" class="btn btn-outline-success">Update</button>
				<button type="button" class="simplemodal-close btn btn-outline-secondary">Cancel</button>
			</div>
		</div>
	</div>
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
	(async ($) => {

		$('form').submit(function () {
			const form = $(this);
			if (form.valid()) {
				$("button").attr("disabled", "disabled").text("Updating...");
			}
		});

	})(jQuery);
</script>