@using DotMatrix.Helpers;
@model DotMatrix.Models.ChangePasswordViewModel


<h4>Change Password</h4>
<hr />
@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "passwordTarget" }, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.WriterValidationSummary()
	@Html.ValidationSummary(true)
	<div class="form-group">
		@Html.Label("Password", new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("New", new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Confirm", new { @class = "col-md-3 control-label" })
		<div class="col-md-9">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<input type="submit" value="Change Password" class="btn btn-default btn-sm button-180" />
		</div>
	</div>
}